# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class
*.so

# 虚拟环境
venv/
env/
ENV/
.venv/

# VS Code 配置
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# 操作系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 数据集文件夹
# 如果要忽略数据或结果，可在此处恢复对应规则
